body{
    margin: 0px;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header img{
    height: 24px;
    width: 24px;
    border: 3px solid lightblue;
    background-color: #F9FAF8;
    border-radius: 50%;
    padding: 5px;
}

.hero img{
    height: 224px;
    width: 398.2px;
    flex-shrink: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}

.info img{
    height: 180px;
    width: 240px;
    border: 3px solid #3882f6;
    border-radius: 20px;
    box-shadow: rgba(56, 130, 246, 0.4) -5px 5px, rgba(56, 130, 246, 0.3) -10px 10px, rgba(56, 130, 246, 0.2) -15px 15px, rgba(56, 130, 246, 0.1) -20px 20px, rgba(56, 130, 246, 0.05) -25px 25px;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    background-color: #1F2937;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px
}

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

.info{
    background-color: whitesmoke;
}

.quote{
    background-color: #E5E7EB;
    padding: 75px 150px;
}

.CTA{
    background-color: #3882f6;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .title{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}
.hero .text{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 15px;
    width: 100px;
}

.info .title{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 50px 150px;
    text-align: center;
}

.quote .text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-family: "Josefin Sans", sans-serif;
}

.quote .title{
    font-weight: 500;
    font-family: sans-serif;
}

.CTA .title{
    color: #F9FAF8;
    font-weight: 700;
    font-size: large;
}
.CTA .text{
    color: #F9FAF8;
}

.list{
    display: flex;
    gap: 10px;
}

.hero .left{
    width: 410px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container{
    display: flex;
    margin: 30px 150px 100px;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    max-width: 262.75px;
}

.info .text{
    text-align: center;
    font-style: oblique;
}

.quote .title{
    text-align: end;
}